#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  font-size: 28px;
  line-height: 40px;
  font-family: 'NanumSquareRound';
  text-align: center;
}
