#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
